* {
  font-family: Papyrus, 'Times New Roman', serif;
}
body {
  background-color:rgb(37, 33, 60);
}

#title {
  color:rgb(198, 102, 58);
  text-align: center;
}

.recipe-links {
  width: fit-content;
  margin: 0 auto;
  color:rgb(198, 102, 58);
}
.recipe-bolognese {
  margin: 10px;
}

.recipe-butterchicken {
  margin: 10px;
}

.recipe-meatballs {
  margin: 10px;
}

img {
  display:block;
  height: 100px;
  width: auto;
  border-style: groove;
  border-radius: 10px;
  
}